html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Consolas, 'Source Code Pro', Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    /*color: #FFA900;*/
    background-color: darkslategrey;
}

.welcomeText{
    padding-top: 35vh;
}

.goBack {
    width: 35px;
    height: 35px;
    margin-left: 0;
}

#chessboard {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 640px;
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
}

/*@media screen and (min-width: 800px) {*/
/*    #chessboard {*/
/*        display: grid;*/
/*        grid-template-columns: repeat(8, 6rem);*/
/*        grid-template-rows: repeat(8, 6rem);*/
/*        place-self: center;*/
/*        outline: black solid 2px;*/
/*    }*/
/*}*/

#chessboard img {
    place-self: center;
    width: 60px;
    height: 60px;
}

/*@media screen and (min-width: 500px) {*/
/*    #chessboard img {*/
/*        place-self: center;*/
/*        width: 45px;*/
/*        height: 45px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 800px) {*/
/*    #chessboard img {*/
/*        place-self: center;*/
/*        width: 75px;*/
/*        height: 75px;*/
/*    }*/
/*}*/

#chessboard .white {
    background-color: whitesmoke;
}

#chessboard .black {

    background-color: #212529;
}

.tile {
    display: grid;
}

